/* prprietà principali */
*{
  font-family: 'Roboto', sans-serif;
}
[class*="col"] {
  /* min-height: 60px; */
  /* background-color: lightgreen; */
  /* border: solid 1px  #000; */
  padding-right: 0;
  padding-left: 0;
  /* justify-content: center;
  align-items: center; */
  /* index: 100; */
  /* padding: 2px; */
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.container{
  margin-top:20px;
}
.totale{
  display: flex;
  height: 95vh;
  border: solid 1px #ced4da;
}
img{
  height:  auto;
  width: 60%;
  border-radius: 50% 50%;
}
i{
  color:rgb(192,192,192);
}
i:hover{
  color:darkgray;
  transform: scale(1.1);
}
h4{
  font-size: 14px;
  font-weight: bold;
}
h5{
  font-size: 12px;
  font-weight: bold;
}
h6{
  font-size: 10px;
  color: rgb(105,105,105);
}
/* proprieta sezione sx */

/* 1 riga sx */
.box-user{
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ced4da;
  background-color: rgb(220,220,220, 0.5);
}
.box-user > .left {
  width: 20%;
  display: flex;
  rgb(220,220,220, 0.5);
}
.box-user > .left a {
  display: flex;
  justify-content: space-around;
}
.box-user > .center{
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.box-user > .right{
  width: 30%;
  display: flex;
  justify-content: space-around;
}

/* 2 riga sx */
.box-notifiche{
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
}
.box-notifiche > .left{
  display: flex;
  justify-content: space-around;
  width: 20%;
}
.box-notifiche > .left i{
  border-radius: 50% 50%;
  color: lightblue;
  background-color: #fff;
  padding: 18%;
}
.box-notifiche > .right{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  width: 80%;
}

/* 3 riga sx */
.box-input{
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 3%;
  background-color: rgb(220,220,220, 0.5);
}
.box-input > div i{
  color: #ced4da;
  background-color: #fff;
  padding: .65rem .375rem;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom:1px solid #ced4da;
  border-radius: .25rem 0 0 .25rem ;
}
.box-input > .form-control{
  width: 90%;
  border-left: none;
  border-radius: 0 .25rem .25rem 0  ;
}

/* 4 riga sx */
.box-message-all{
  height: calc(90vh - (200px));
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.box-message{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding:  10px 0;
}
.box-message:hover{
  background-color:rgb(220,220,220, 0.5);;
}
.box-message > .left{
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.box-message > .center{
  width: 200px;
  display: flex;
  flex-direction: column;
}
.box-message > .center h6{
  overflow-x: hidden;
  text-overflow: " ...";
}
.box-message > .right{
  width: 30%;
  display: flex;
  justify-content: space-around;
}

/* proprietà colonna dx */

/* 1 riga dx */
.active-user, .search{
  background-color:rgb(220,220,220, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #ced4da;
  height: 70px;
}

.active-user >.left  {
  display: flex;
  justify-content: center;
  width: 15%;
}
.active-user >.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}
.active-user >.right{
  display: flex;
  justify-content: space-around;
  width: 15%;
}

/* 2 riga dx */
.active-chat{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  height: calc(95vh - (140px));
  background-image: url("../img/mine.jpg");
  overflow-y: auto;
}
.received-msg{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2%;

}
.send-msg{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 2%;
}
.box-msg-send{
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 55px;
  padding: 2% 2% 0 2%;
  border-radius: 5px;
  background-color: rgb(144,238,144,0.7);
}
.box-msg-received{
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 55px;
  padding: 2% 2% 0 2%;
  border-radius: 5px;
  background-color: rgb(255,255,255,0.7);
}
.msg{
  display: flex;
  justify-content: flex-start;
}
.data-send,.data-received{
  display: flex;
  justify-content: flex-end;
}
/* 3 riga dx */
.search{
  display: flex;
  align-items: center;
}
.search > .left, .search > .right {
  display: flex;
  justify-content: center;
  width: 10%;
}
.search > .center {
  display: flex;
  justify-content: center;
  width: 80%;
}
